.margin-top{
    margin-top: 20px;
}

.img, .img{
    border-radius: 10px;
}

.img1{
    border-radius: 100px;
}

.footer{
    background-color: aqua;
    height: 200px;
    text-align: center;
}

.formulario{
    margin-top: 50px;

}
